<table class="attr">
  <tr>
    <th><%= form.label :name, "学科" %></th>
    <td><%= form.text_field :name, size: 8 %></td>
  </tr>
  <tr>
    <th><%= form.label :content, "説明" %></th>
    <td><%= form.text_field :content, rows: 10, cols: 25, size: 10 %></td>
  </tr>
  <tr>
    <th><%= form.label :teacher, "担当教師" %></th>
    <td><%= form.text_field :teacher, size:10 %></td>
  </tr>
</table>

