<h1>学科一覧</h1>

<%= link_to "新規登録", new_subject_path %>

<table>
  <tr>
    <th>学科</th>
    <th>学科説明</th>
    <th>担当教師</th>
    <th>操作</th>
  </tr>
  <h1>学科一覧</h1>

  <% @subjects.each do |subject| %>
    <tr>
      <td><%= subject.name %></td>
      <td><%= subject.content %></td>
      <td><%= subject.teacher %></td>
      <td>
        <%= link_to "詳細", subject %>｜
        <%= link_to "編集", [:edit, subject] %>｜
        <%= link_to "削除", subject, method: :delete,
              data: {confirm: "本当に削除しますか?"} %>
      </td>
    </tr>
  <% end %>
</table>
